# Ignored files to Git
"kaggle petfinder/src/.ipynb_checkpoints"
"kaggle petfinder/others/tensordeprueba copy.pt"
"kaggle petfinder/input/petfinder-pawpularity-score/test"
"kaggle petfinder/input/petfinder-pawpularity-score/train"